.section {
  display: grid;
  gap: var(--space-8);
}

.heading {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-xs);
}

.table tr {
  border-top: 1px solid var(--color-text);
}

.table tr:last-child {
  border-bottom: 1px solid var(--color-text);
}

.table th,
.table td {
  padding: var(--space-3) 0;
  text-align: left;
  vertical-align: top;
  font-weight: var(--font-weight-regular);
}

.table th {
  width: 30%;
  padding-right: var(--space-4);
}
